@page "/"
@using Munchkin.Service
@using Munchkin.Data
@using Munchkin.Components
@using MatBlazor


@if (_vueJoueur)
{
    <VueJoueur ExitClicked="VueJoueur_ExitClicked" Joueur="_joueurSelectionne"></VueJoueur>
}
else
{
    <div style="margin-top:150px; display: grid;">

        <img src="Images/munchkin-logo.png" class="center" style="width: 600px;" />

        <div class="center" style="padding:50px">

            @*Page Acceuil*@
            @if (!_selectionneJoueur && !_creeNouveauJoueur && !_creeNouvellePartie && !_selectionnePartie)
            {
                @if (MunchkinService.Parties.Any())
                {
                    <button class="menu-button-light" @onclick="() => _selectionnePartie = true" style="float: left;">
                        <img src="Icon/play.svg" class="menu-image" />
                        <p class="menu-txt">Rejoindre</p>
                    </button>

                }
                <button class="menu-button-dark" @onclick="() => CreeNouvellePartie()" style="float: right;">
                    <img src="Icon/plus-isabelline.svg" class="menu-image" />
                    <p class="menu-txt">Nouvelle Partie</p>
                </button>
            }
            @*Selection d'un Joueur*@
            else if (_selectionneJoueur)
            {
                <div style="display: flex; flex-flow: row wrap; justify-content: center;">
                    @foreach (Joueur joueur in _partieSelectionne.Joueurs)
                    {
                        <div style="display: grid">
                            <button class="menu-button-light" style="border-radius:15px 15px 0px 0px" @onclick="@(() =>SelectionneJoueur(joueur))">
                                <img src="Icon/user.svg" class="menu-image" />
                                <p class="menu-txt">@joueur.Nom</p>
                            </button>
                            <button class="delete-button" @onclick="@(() =>SupprimeJoueur(joueur))">
                                <img src="Icon/delete-isabelline.svg" class="delete-image" />
                            </button>
                        </div>

                    }
                    <button class="menu-button-dark" @onclick="@(() => CreeNouveauJoueur())">
                        <img src="Icon/plus-white.svg" class="menu-image" />
                        <p class="menu-txt" style="color:white;">Nouveau Joueur</p>
                    </button>
                </div>
            }
            @*Selection d'une Partie*@
            else if (_selectionnePartie)
            {
                <div style="display: flex; flex-flow: row wrap; justify-content: center;">
                    @foreach (Partie partie in MunchkinService.Parties)
                    {
                        <div style="display: grid">
                            <button class="menu-button-light" style="border-radius:15px 15px 0px 0px" @onclick="@(() => SelectionnePartie(partie))">
                                <img src="Icon/team.svg" class="menu-image" />
                                <p class="menu-txt">@partie.Nom</p>
                            </button>
                            <button class="delete-button" @onclick="@(() =>DemandeSupprimePartie(partie))">
                                <img src="Icon/delete-isabelline.svg" class="delete-image" />
                            </button>
                        </div>
                    }
                </div>
            }
            @*Création d'un nouveau Joueur*@
            else if (_creeNouveauJoueur)
            {
                <EditForm Model="@_joueurSelectionne" OnValidSubmit="CreationNouveauJoueur">
                    <DataAnnotationsValidator />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div id="nomJoueur" class="center" style="width:600px;">
                        <InputText @attributes="_nomJoueurInputAttributes" class="menu-txt" style="width: 475px; height:50px; border: solid; padding-left: 5px; border-radius: 5px;" placeholder="Nom du joueur" @bind-Value="_joueurSelectionne.Nom" />
                        <button type="submit" class="menu-txt" style="background-color: #252323; border-radius: 5px; margin: 5px; border: none;width: 65px; height: 50px; color: #F5F1ED;">OK</button>
                        <ValidationMessage For="@(() => _joueurSelectionne.Nom)" />
                    </div>
                </EditForm>
            }
            @*Création d'une nouvelle Partie*@
            else if (_creeNouvellePartie)
            {
                <EditForm Model="@_partieSelectionne" OnValidSubmit="CreationNouvellePartie">
                    <DataAnnotationsValidator />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    @*Nouvelle Partie *@
                    <div id="nomPartie" class="center" style="width:600px;">
                        <InputText @attributes="_nomPartieInputAttributes" class="menu-txt" style="width: 475px; height:50px; border: solid; border-color:#252323; padding-left: 5px; border-radius: 5px;" placeholder="Nom de la partie" @bind-Value="_partieSelectionne.Nom" />
                        <button type="submit" class="menu-txt" style="background-color:#252323;  border-radius: 5px; margin: 5px; border: none; width: 65px; height: 50px; color: #F5F1ED;">OK</button>
                        <ValidationMessage For="@(() => _partieSelectionne.Nom)" />
                    </div>
                </EditForm>
            }
        </div>
    </div>

    <MatDialog CanBeClosed="false" IsOpen="_partieASupprimer != null">
        <MatDialogContent>
            Voulez vous vraiment supprimmer cette partie ? 
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="() => _partieASupprimer = null">Non</MatButton>
            <MatButton OnClick="SupprimerPartie">Oui</MatButton>
        </MatDialogActions>
    </MatDialog>
}




<style>
    .center {
        margin: auto;
        padding: 20px;
    }

    .menu-button-light {
        color: #252323;
        background-color: #DAD2BC;
        border: hidden;
        margin: 20px;
        width: 200px;
        border-radius: 15px;
    }

    .menu-button-dark {
        color: #F5F1ED;
        background-color: #252323;
        border: hidden;
        margin: 20px;
        width: 200px;
        border-radius: 15px;
    }

    .delete-button {
        color: #F5F1ED;
        background-color: #70798C;
        border: hidden;
        margin: -15px 20px 20px 20px;
        width: 200px;
        border-radius: 0px 0px 15px 15px;
    }

    .menu-image {
        height: 50px;
        margin: 15px
    }

    .delete-image {
        height: 25px;
        margin: 10px
    }

    .mdc-dialog .mdc-dialog__surface {
        max-width: none;
    }

    .menu-txt {
        font-size: 22px;
    }

    .form-control.invalid {
        border-color: #dc3545;
    }

    .form-control.valid {
        border-color: transparent;
        color: transparent;
    }

    .validation-message {
        width: 100%;
        margin-top: .25rem;
        font-size: 22px;
        color: #dc3545;
    }


    *:focus {
        outline: none;
    }
</style>




