@namespace Munchkin.Components
@using Munchkin.Data

@*Carte Petite*@
<MatCard class="demo-mat-card">
    <MatCardContent Style="position: relative; width: 100%;">
        <img @onclick="() => _afficheCarte = true" style=" border-radius:5px; height:180px; opacity:@(Carte.Activee ? "1" : "0.5")" src=@Carte.ImageURL />
        <div class="flex-container"
             style="transform: translateX(-50%); height:unset; left: 50%; bottom : 10%; position: absolute; background-color: transparent;">
            <button class="buttontest" @onclick="() => Carte.Activee = !Carte.Activee" style="background:#25793D ">
                <img src=@(Carte.Activee ? "Icon/stop.svg" : "Icon/play.svg") />
            </button>
            <button class="buttontest" @onclick="() => _envoiCarte = true" style="background:#BA4625 ">
                <img src="Icon/send.svg" />
            </button>
            <button class="buttontest" @onclick="@(() => Joueur.DefausseCarte(Carte))" style=" background: #625956;">
                <img src="Icon/delete.svg" />
            </button>
        </div>
    </MatCardContent>
</MatCard>

@*Carte En Grand*@
<MatDialog @bind-IsOpen="@_afficheCarte">
    <MatDialogContent Style="background:black">
        <img @onclick="() => _afficheCarte = false" style="height:500px ;border-radius:5px; width:350px" src=@Carte.ImageURL />
        <div class="flex-container-horizontal">
            <button class="buttontestbig" @onclick="() => Carte.Activee = !Carte.Activee" style="background:#25793D ">
                <img src=@(Carte.Activee ? "Icon/stop.svg" : "Icon/play.svg") />
            </button>
            <button class="buttontestbig" @onclick="() => _envoiCarte = true" style="background:#BA4625 ">
                <img src="Icon/send.svg" />
            </button>
            <button class="buttontestbig" @onclick="@(() => Joueur.DefausseCarte(Carte))" style="background:#625956; ">
                <img src="Icon/delete.svg" />
            </button>
        </div>
    </MatDialogContent>

</MatDialog>

@*Envoi d'une Carte*@
<MatDialog CanBeClosed="true" @bind-IsOpen="_envoiCarte">
    <MatDialogContent>

        <div style="padding:50px; display:inline-flex;">

            @foreach (Joueur joueur in _partie.Joueurs.Except(new List<Joueur> { Joueur }))
            {
                <button class="menu-button-small" @onclick="@(() => EnvoyeCarte(Carte,joueur))" style="float: left;">
                    <img src="Icon/user.svg" class="menu-image-small" />
                    <p class="menu-txt-small">@joueur.Nom</p>
                </button>
            }
            <button class="menu-button-small" @onclick="@(() => EnvoyeCarte(Carte,null))" style="float: left;">
                <img src="Icon/target.svg" class="menu-image-small" />
                <p class="menu-txt-small">Centre</p>
            </button>
        </div>

    </MatDialogContent>
</MatDialog>

<style>

    .demo-mat-card:hover .buttontest {
        display: block;
    }

    .buttontest {
        border-radius: 10px;
        border: none;
        display: none;
        height: 35px;
        width: 35px;
        margin: 5px;
    }

    .buttontestbig {
        border-radius: 20px;
        border: none;
        height: 75px;
        padding: 20px;
        width: 75px;
        margin: 15px;
    }

    .menu-button-small {
        background-color: transparent;
        margin: 15px;
        width: 100px;
        color: #3C2418;
        border: solid;
        height: 100px;
        border-radius: 20px;
    }

    .menu-image-small {
        height: 40px;
        margin: 10px
    }

    .menu-txt-small {
        font-size: 20px;
    }
</style>